
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-dribbble-circled:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e802'; } /* '' */
.icon-paper-plane-alt2:before { content: '\f01e'; } /* '' */